/*los estilos aplicados x el browser son reseteados por bootstrap*/
:root {
    --main-theme-bg-color: rgb(193, 157, 221);
    --main-theme-bg-color-darker: rgb(143, 113, 165);

    --main-theme-text-color: #fff;
    --main-theme-text-color-darker: rgb(139, 113, 153);
    --main-theme-text-color-hover: rgb(241, 237, 243);
    --main-theme-text-color-hover-darker: rgb(162, 141, 175);
    --main-theme-text-color-active: rgb(228, 221, 231);
    --main-theme-text-color-active-darker: rgb(177, 161, 187);
}

body {
    font-family: 'Sf Pro Display', sans-serif;
    background-color: var(--main-theme-bg-color);
}

/*
* header > navbar-itbank
*/

.navbar.navbar-itbank {
    background-color: var(--main-theme-bg-color);
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.navbar.navbar-itbank .navbar-brand, .navbar.navbar-itbank li a {
    user-select: none;
    color: var(--bs-white);
}

.navbar.navbar-itbank .navbar-brand {
    transition: transform 120ms ease-in-out;
}

.navbar.navbar-itbank .navbar-brand:hover {
    transform: scale(1.1);
}

.navbar.navbar-itbank li a {
    color: var(--main-theme-text-color);
    transition: color ease 0.3s;
}

.navbar.navbar-itbank li a:hover {
    color: var(--main-theme-text-color-hover);
}

.navbar.navbar-itbank li a:active {
    color: var(--main-theme-text-color-active);
}
/* https://stackoverflow.com/a/41896551/10942774 */
.navbar.navbar-itbank button.navbar-toggler {
    border-color: var(--main-theme-bg-color-darker);
}

.navbar.navbar-itbank button.navbar-toggler:focus, .navbar.navbar-itbank button.navbar-toggler:active {
    box-shadow: 0 0 5px var(--main-theme-bg-color-darker);
}
/*  https://stackoverflow.com/a/23353566/10942774
    https://stackoverflow.com/a/61099329/10942774 */
.navbar.navbar-itbank span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%238f71a5' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*
* section > action-section-itbank
*/

.action-section-itbank h1, .action-section-itbank li a.nav-link {
    color: var(--main-theme-text-color-darker);
}

.action-section-itbank li a.nav-link:hover {
    color: var(--main-theme-text-color-hover-darker);
}

.action-section-itbank li a.nav-link:active {
    color: var(--main-theme-text-color-active-darker);
}

.action-section-itbank li a.nav-link.active {
    color: var(--main-theme-text-color);
    background-color: var(--main-theme-bg-color);
}

.action-section-itbank li a.nav-link.active:hover {
    color: var(--main-theme-text-color-hover);
}

.action-section-itbank li a.nav-link.active:active {
    color: var(--main-theme-text-color-active);
}